h1{
    color:rgb(159, 75, 75);
}
P{
    color: darkcyan;
}
button {
    color:black;
    background-color: lightblue;
}
body{
    background-color: rgb(191,300,240);
}
#heading1{
    color:khaki


}
 .myClass{
    color:chartreuse
 }