<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amity home page</title>
    <link rel="stylesheet" href="homepage.css">
</head>
<body>
    <main>
        <div class="middle-container">
            <div class="header1">
                <h2> Amity Education Foundation</h2>
            </div>
            <div class="sub-header"> "Education For All Round Development"

            </div>
            <div class="logo-container">
                <!-- <img src=" https://scontent.fbir7-1.fna.fbcdn.net/v/t39.30808-6/270247875_1295738854228406_3450109701834749479_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=HVYTO_iIrZgQ7kNvgFaMBOU&_nc_ht=scontent.fbir7-1.fna&oh=00_AYC0w6Pcw2bDpIlVktYOg66ztSGjgn95RXHAGswMsTEwbw&oe=66BBE674" alt="amity-logo" height="100" width="100"> -->
            </div>
            <div class=" welcome-container">
                Login to connect with Amity
            </div>
            <div class="input-container">
                <div class="name-container"> <input placeholder="Username">

                </div>

                <div class="header5"> <input placeholder="Password">

                </div>
            </div>
            <div class="checkbox-container">
            <input type="checkbox" id="Remember Me" name="Remember Me" value="Remember Me"> 
            <label for="Remember Me"> Remember Me </label>
            <!-- <div class="checkbox-container"> -->
                <!-- Remember Me -->
            </div>
            <div class="button-container"> <button> Login </button>
            </div>
            <div class="forget-container"> <a> Forget Password?</a>
            </div>
        </div>

        </div>
    </main>

</body>

</html>