*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/* main  */
main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
}
/* Left nav and it's content */
.left-nav{
    height: 100vh;
    width: 200px;
    border-width: 1px;
    border-color:rgb(52,202,253);
    border-style: solid;
    
    /* border: 2px solid black; */

}
.logo-container{
    height: 98px;
    width: 98px;
    top: 15px;
    margin-left: 40px;
    /* border: 2px solid red; */
    background: url(/amity_webapp/assets/amity-logo.svg);
    background-size: cover;

}
.top-wrapper{
    /* border: 2px solid blue; */
    height: 72%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    
    
}
.bottom-wrapper{
    /* border: 2px solid green; */
    height: 15.2%;
    text-align: center;
    padding: 10px;

}

a{
    color: black;
    text-decoration: none;
    display: block;
    padding: 10px;
    margin: 7px;
    border-radius: 6px;
    font-weight: bold;
  
}
.top-nav{
    /* border: 2px solid black; */
    /* position: absolute; */
    display: flex;
    flex-direction: row;
    top: 0px;
    left: 280px;
    height: 100px;
    width: 100%;
    column-gap: 900px;
    padding: 10px;
    
}
.h1-container{
    /* border: 2px solid brown; */
    height: 6%;
    margin-top: 1%;
    padding-left: 5px;
    display: flex;
    font-family:serif;  
    font-size:xx-large;
    font-weight: bold; 

}
.right-wrapper{
    /* border: 2px solid red; */

    height: 60%;
    width: 200px;
    display: flex;
    gap: 25px;

}
.rate-us{
    text-decoration: underline;

}
.rating{
    padding: 10px;
padding-left: 80px;
display: flex;
font-size: x-large;
}
.star{
    padding-left: 90px;
    width: 200px;
    display: flex;
    gap: 20px;
}
.review{
    padding-top: 30px;
padding-left: 82px;
display: flex;
font-size: x-large;
font-weight: 500;
}
.write-review{
    background-color:rgb(207, 226, 255 );
    width: 350px;
    height: 90px;
    display:flex ;
    flex-direction: column;
    
}
.gap{
    width: 80px;

}
.background{
    display: flex;
    flex-direction: row;
}
.num{
    padding-top: 40px;
    padding-left: 250px;
}
.word{
    display: flex;
    padding-left: 40px;
}
.submmit{
    padding-left: 200px;
    padding-top: 20px;
    

}