
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="id.css">
</head>
<body>
    
    <div class="personal-info-container">
        <div class="header-design">
          <p style="font-size: 20px;">Your Information</p>
          <div class="profile-container"></div>
        </div>
        <div class="details-container">
          <p id="u_name">Name : </p>
          <p id="u_class">Class : </p>
          <p id="u_section">Section : </p>
          <p id="u_rollNo">Roll no : </p>
          <p id="u_address">Address: </p>
          <p id="u_pickupAddress">Pickup Address : </p>
          <p id="dropoffAddress">Dropoff Address : </p>
    
        </div>
    </div>
    
    
</body>
</html>
<!-- Personal info container -->