/* 

table , tr,td,th{
border-width: 2px;
border-style: solid;
border-color:#DEE2E6;
border-collapse: collapse;
width: 800px;
text-align: center;
font-family: Inter;

}
tr:nth-child(2n+1){
    background:#F8F9FA;

} */

.table,tr,th,td{
    border: width 2px;
    border-style: solid;
    border-color:#97b6e4 ;
    border-collapse:collapse;
    width: 800px;
    text-align: center;
    font-family: Inter;
}
tr:nth-child(2n+1){
    background: #CFE2FF;
}