*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/* main  */
main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
}
/* Left nav and it's content */
.left-nav{
    height: 100vh;
    width: 280px;
    
    /* border: 2px solid black; */

}
.logo-container{
    height: 98px;
    width: 98px;
    top: 15px;
    margin-left: 40px;
    /* border: 2px solid red; */
    background: url(/amity_webapp/assets/amity-logo.svg);
    background-size: cover;

}
.top-wrapper{
    /* border: 2px solid blue; */
    height: 72%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;

    
}
.bottom-wrapper{
    /* border: 2px solid green; */
    height: 15.2%;
    text-align: center;
    padding: 10px;

}

a{
    color: black;
    text-decoration: none;
    display: block;
    padding: 10px;
    margin: 7px;
    border-radius: 6px;
  
}
.top-nav{
    /* border: 2px solid black; */
    /* position: absolute; */
    display: flex;
    flex-direction: row;
    top: 0px;
    left: 280px;
    height: 100px;
    width: 80%;
    
    
}
.h1-container{
    /* border: 2px solid brown; */
    height: 6%;
    margin-top: 1%;
    padding-left: 5px;
    display: flex;
    font-family:Arial;   
}
.right-wrapper{
    /* border: 2px solid red; */

    /* height: 5%;   */
    width: 200px;
    /* margin-top: 1%; */
    margin-right:100%;
    /* display: flex; */
    gap: 25px;
    left: 13%;
    /* border: 2px solid black; */
    /* margin-left: 90px; */
    position: absolute;


}
.right-wrapper i{
    /* margin-right:90px ; */
    


}

 button{
    background-color: rgb(52,202,253,.4);
    border-width: 2px;
    border-radius:20%;
    border-style: solid;
    border-color: rgb(52,202,253);
    width: 60px;
    margin-top: 20%;
    margin-left: 40%;
 }
 .personal-info-container{
    /* align-self: flex-start; */
    /* display: flex; */
    /* position: absolute; */
    border: 2px solid #32ADE6;
    width: 350px;
    /* top: 1%; */
    /* left: 1%; */
    border-radius: 10px;
    height: 95%;
}
.header-design{
    height: 70px;
    width: 100%;
    border: 1px solid #32ADE6;
    background-color: #CFE2FF;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}
.details-container{
    height: 80px;
    /* border: 2px solid black; */
    width: 80%;
    /* margin-top: 20%; */
    height: calc(100% - 7px);
    margin-left: 8px;
    margin-top:3px ;
}
.profile-container{
    height:70px;
    width: 70px;
    /* margin-left:160px ; */
    border-radius:50% ;
    background-color: #D9D9D9;
    /* display: flex; */
    /* margin-left:130px ; */
    align-self: center;
    position: relative;
    right: 140px;
    top:40px;
    /* justify-content: center; */
    /* align-items: center; */
    
}
.id{
 display: flex;
 padding-left: 20px;
 
}
.middle{
    display: flex;
    flex-direction:row;
}
.id-edit{
    position: relative;
    right: 9%;
}