*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/* main  */
main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
}
/* Left nav and it's content */
.left-nav{
    height: 100vh;
    width: 230px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(52,202,253);
    position: fixed;

    
    /* border: 2px solid black; */

}
.logo-container{
    height: 98px;
    width: 98px;
    top: 15px;
    margin-left: 40px;
    /* border: 2px solid red; */
    background: url(/amity_webapp/assets/amity-logo.svg);
    background-size: cover;

}
.top-wrapper{
    /* border: 2px solid blue; */
    height: 72%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;

    
}
.bottom-wrapper{
    /* border: 2px solid green; */
    height: 14%;
    text-align: center;
    padding: 10px;

}

a{
    color: black;
    text-decoration: none;
    display: block;
    padding: 10px;
    margin: 7px;
    border-radius: 6px;
    
}
.top-nav{
    /* border: 2px solid black; */
    /* position: absolute; */
    display: flex;
    flex-direction: row;
    top: 0px;
    left: 280px;
    height: 100px;
    width: 100%;
    column-gap: 775px;
    padding-top: 10px;
    
}
.h1-container{
    /* border: 2px solid brown; */
    height: 6%;
    padding-left: 250px;
    display: flex;
    font-family:Arial; 
    font-size: xx-large;
    font-weight: bold;  
    font-family: serif;
}
.right-wrapper{
    /* border: 2px solid red; */

    height: 60%;
    width: 200px;
    display: flex;
    gap: 25px;

}

.summary{
    display: flex;
    padding-top: 20px;
}
.description{
    display: flex;
    padding-top: 20px;
}
.attached-file{
    display: flex;
    padding-top: 20px;
}
.note-discussion{
    display: flex;
    padding-top: 20px;
}
.topic{
    display: flex;
}    
.card-body{
    border-width: 1px;
    border-style: solid;
    border-color: rgb(52,202,253);
    
}
.title{
    display: flex;
    font-style: italic;
    font-weight: bold;
    padding-left: 250px;
}
.card-title{
    display: flex;
    font-style: italic;
    font-weight: bold;
}
.card-text{
    font-family:'Lucida Sans';
    font-weight: 400;
}
    
.gap{
 width: 10px;
 padding-left: 20px;
}
.middle{
    padding-left: 250px;
}
.comenter{
    display: flex;
    flex-direction: row;
    padding-left: 20px;
}
.date{
    padding-left: 30px;
    font-size: small;
    padding-top: 5px;
}
.name{
    font-weight:500;
}
.comment{
    padding-left: 20px;
}
.T-comenter{
    display: flex;
    flex-direction: row;
    padding-left: 700px;
    padding-top: 35px;
}
.T-date{
    padding-left: 30px;
    font-size: small;
    padding-top: 5px;
}
.T-name{
    font-weight:500;
}
.T-comment{
    padding-left: 700px;
}